body{
    background: white;
}

.btnCommencer{
    border-radius: 10px;
    padding: 10px;
}
.welcomeText{
    color: black;
    font-weight: bold;
    padding: 10px;
}
.BoxCarte{
    display: none;
}
.carte{
    background-color:black ;
    height: 100px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.sous_carte{
    background-color:black ;
    border: 2px solid white;
    border-radius: 10px;
    height: 75px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25pt;
    transition: 0.4s ease-in-out;
}
